<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


<div class="row g-3">
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

    <label for="" class="form-label">Flight Name</label>
    <input type="text" class="form-control" name="flightname" [(ngModel)]="flightname">
</div>

<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

    <label for="" class="form-label">Origin</label>
    <input type="text" class="form-control" name="origin" [(ngModel)]="origin">

</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Destination</label>
    <input type="text" class="form-control" name="destination" [(ngModel)]="destination">

</div>
<div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
    <label for="" class="form-label">Capacity</label>
    <input type="text" class="form-control" name="capacity" [(ngModel)]="capacity">

</div>






<div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12-col-xxl-12">

<button class="btn btn-success" [disabled]="status" (click)="readValues()">Submit</button>
</div>




</div>




        </div>
</div>
   
</div>
